<div class="row">
    <div class="col-xs-12">
        {% setcontent slides = "slides/latest/5" %}
        <div class="slider-home">
            {% for item in slides %}
                <a href="{{item.url}}" target="{{item.destino}}">
                    <img src="{{image(item.imagem)}}" class="img-responsive" />
                </a>
            {% endfor %}
         </div>
    </div>
</div>