<div class="row">
    <div class="col-xs-12">
        {% setcontent slides = "slides/latest/5" %}
        {% for item in slides %}
            <div class="slider-home">
                <a href="{{item.url}}" target="{{item.destino}}">
                    <img src="{{image(item.imagem)}}" class="img-responsive" />
                </a>
            </div>
        {% endfor %}
    </div>
</div>