<ul class="menu-topo pull-right">
    {% for item in menu %}
        <li {% if item.class is defined %} class="{{item.class}}" {% endif %}>
            <a href="{{item.link}}">{{item.label}}</a>
        </li>
    {% endfor %}
</ul>